<div
  *ngIf="show"
  class="overflow-x-hidden overflow-y-auto fixed inset-0 outline-none focus:outline-none justify-center items-center flex"
>
  <div class="opacity-25 fixed inset-0 z-0 bg-black" (click)="toggleModal()"></div>
  <div class="relative w-auto my-6 mx-auto max-w-2xl">
    <!--content-->
    <div
      class="z-50 border-0 rounded-2xl shadow-lg relative flex flex-col w-full dark:bg-neutral-800 dark:text-gray-50 outline-none focus:outline-none"
    >
      <!--header-->
      <div class="flex items-start justify-between p-5 border-b border-solid border-slate-600 rounded-t">
        <ng-content select="[header]"></ng-content>
      </div>
      <!--body-->
      <div class="relative p-6 flex-auto">
        <ng-content select="[body]"></ng-content>
      </div>
      <!--footer-->
      <div class="flex items-center justify-end p-6 border-t border-solid border-slate-600 rounded-b">
        <ng-content select="[footer]"></ng-content>
      </div>
    </div>
  </div>
</div>
